.Playground {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content auto;

    .header {
        grid-row: 1/2;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        border-bottom: 2px solid var(--bg3);

        div {
            display: flex;
            align-items: center;
            padding: 0 0.5rem;

            a {
                display: grid;
                font-size: 1.25rem;
                padding: 0.5rem 0;
                margin-left: 1rem;
                text-decoration: none;

                i {
                    font-size: 1.5rem;
                    width: 1.5rem;
                }
            }
            .logo {
                img {
                    height: 2rem;
                }
            }
            .right {
                margin-left: auto;
            }
        }

        .left {
            justify-content: space-between;
        }
    }
    .editorContainer {
        grid-row: 2/3;
        grid-column: 1/2;
        display: flex;
        min-height: 0;
        min-width: 0;
        height: 100%;
        border-right: 2px solid var(--bg3);
    }
    .container {
        position: relative;
        margin: 0;
        overflow: hidden;

        pre {
            width: 100%;
        }
        .rightPanel {
            grid-row: 2/3;
            grid-column: 2/3;
            display: grid;
            height: 100%;
            overflow-y: auto;
            padding: 4px;

            .errors {
                display: flex;
                flex-direction: column;
                gap: 1lh;
            }
        }
    }
}
