@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&display=swap');

:root {
    --bg: #ffffff;
    --bg2: #eeeeee;
    --bg3: #dddddd;
    --fg: #000000;
    --fg2: #111111;
    --fg3: #444444;
    --region: hsla(87, 100%, 42%, 0.4);
    --unknownToken: #730623;
    --special: #c955e7;
    --hl-comment: #444444;
    --hl-keyword: #5c2e81;
    --hl-number: #a65437;
    --hl-string: #3a6e1f;
    --indent-markers: repeating-linear-gradient(to right, var(--indent-marker-bg-color) 0 1px, transparent 1px 4ch)
        4.5ch / calc(8ch - 1px) no-repeat !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #222222;
        --bg2: #333333;
        --bg3: #555555;
        --fg: #ffffff;
        --fg2: #eeeeee;
        --fg3: #aaaaaa;
        --unknownToken: #ff5d40;
        --hl-comment: #cccccc;
        --hl-keyword: #d3a8ef;
        --hl-number: #ffb499;
        --hl-string: #a6d189;
    }
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

html {
    font-size: 16px;
}

html,
body,
#root {
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Cantarell', sans-serif;
    font-variant-ligatures: none;
}

pre {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9rem;
    margin: 0;
    overflow-y: auto;
}

code {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--bg2);
    border-radius: 4px;
    padding: 0 4px;
}

p {
    margin: 0;
}

a {
    color: var(--fg);

    &:hover {
        color: var(--special);

        i {
            color: var(--special);
        }
    }
}

i {
    color: var(--fg);
}

button {
    background-color: var(--bg2);
    color: var(--fg);
    outline: none;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--bg3);
    border-radius: 2px;
}

select {
    background: var(--bg2);
    color: var(--fg);
    outline: none;
    border: 1px solid var(--bg3);
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    border-radius: 2px;
}

.tippy-box[data-theme~='nois'] {
    background-color: var(--special);
    color: var(--bg);

    .tippy-arrow::before {
        border-top-color: var(--special) !important;
        border-bottom-color: var(--special) !important;
    }
}

.highlight {
    display: inline-block;
    background-color: var(--bg3);
}

.cm-editor {
    width: 100%;

    & * {
        font-family: 'JetBrains Mono', monospace;
    }

    .cm-content {
        padding: 4px;
    }

    .cm-line {
        // display: flex;
        padding: 0;
    }

    .cm-cursor {
        border-left: 2px solid var(--fg2);
    }

    .cm-activeLine {
        background-color: var(--bg2);
    }

    .cm-gutters {
        background-color: var(--bg2);
        color: var(--fg3);
        border-right: 1px solid var(--bg3);
    }

    .cm-panels {
        background-color: var(--bg2);
        color: var(--fg);
    }

    .cm-panel.cm-panel-lint ul [aria-selected] {
        background-color: unset;
    }

    .cm-panels-bottom {
        border-top: 1px solid var(--bg3)
    }

    .cm-tooltip {
        background-color: var(--bg2);
        border-right: 1px solid var(--bg3);
    }

    .cm-activeLineGutter {
        background-color: var(--bg3);
    }

    .cm-selectionBackground {
        background: var(--bg3) !important;
    }

    .cm-indent-markers::before {
        z-index: 100 !important;
    }

    .cm-lintRange-error {
        background-image: none;
        text-decoration: red wavy underline;
    }
}
